body {
  font-size: 16px;
  background-color: crimson;
}

body {
  font-size: 19.2px;
}

p {
  font-size: 1.2em;
}

h1 {
  margin-top: 2em;
}

div {
  width: 50%;
}

button {
  padding: 0.5em;
}

strong {
  font-weight: bold;
}

img {
  width: 400px;
  height: auto;
}

.medium-image {
  width: 400px;
  height: auto;
}

